<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoronaVirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body class="container">

<h1>CoronaVirus Tracker Application</h1>
<p>This reports currently active cases across the globe <span style="float: right">[Last Updated Date - <span th:text="${lastModifiedDate}"></span>]</span></p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Total Confirmed Cases
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <h1 class="display-3" th:text="${totalReportedCases}"></h1>
                    <footer>
                        <span>New Cases Reported -</span>
                        <span th:text="${totalNewCases}"></span>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Total Recovered Cases
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <h1 class="display-3" th:text="${totalRecoveredCases}"></h1>
                    <footer>
                        <span>New Recovered Cases -</span>
                        <span th:text="${totalNewRecoveredCases}"></span>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Total Death Cases
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <h1 class="display-3" th:text="${totalDeathCases}"></h1>
                    <footer>
                        <span>New Deaths Cases -</span>
                        <span th:text="${totalNewDeathCases}"></span>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<br>

<div id="newCases" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="reportedCases" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="deathCases" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<table class="table table-striped">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
        <th>Changes since last day</th>
        <th>Total Cases Recovered</th>
        <th>Total Deaths</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffFromPreviousDay}">0</td>
        <td th:text="${locationStat.casesRecovered}">0</td>
        <td th:text="${locationStat.totalDeaths}">0</td>
    </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script th:inline="javascript">
    $(function () {
        Highcharts.chart('reportedCases', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'CoronaVirus Reported Cases'
            },
            subtitle: {
                text: 'Top 20 States in World [Excluding China]'
            },
            xAxis: {
                categories: [[${reportedCasesData.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                tickInterval: 600,
                title: {
                    text: 'Number of Reported Cases'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat:
                    '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Count',
                data: [[${reportedCasesData.values()}]]
            }]
        });
    });
</script>

<script th:inline="javascript">
    $(function () {
        Highcharts.chart('deathCases', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'CoronaVirus Death Cases'
            },
            subtitle: {
                text: 'Top 20 States in World [Excluding China]'
            },
            xAxis: {
                categories: [[${reportedDeathCases.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                tickInterval: 25,
                title: {
                    text: 'Number of Death Cases'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat:
                    '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Count',
                data: [[${reportedDeathCases.values()}]]
            }]
        });
    });
</script>

<script th:inline="javascript">
    $(function () {
        Highcharts.chart('newCases', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'CoronaVirus New Reported Cases'
            },
            subtitle: {
                text: 'Top 20 States in World'
            },
            xAxis: {
                categories: [[${newCases.keySet()}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                tickInterval: 25,
                title: {
                    text: 'Number of New Cases'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat:
                    '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Count',
                data: [[${newCases.values()}]]
            }]
        });
    });
</script>

</body>
</html>
